/* RESPONSIVIDADE GERAL */
@media (max-width: 768px) {

    header {
      flex-direction: column;
      padding: 20px 0;
      gap: 20px;
    }
  
    .navigation {
      flex-direction: column;
      gap: 20px;
    }
  
    .navigation_social {
      margin-left: 0;
      margin-top: 10px;
    }
  
    main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  
    .main_info, .pp_info {
      margin: 0;
      padding: 0;
      max-width: 90%;
      text-align: center;
      align-items: center;
    }
  
    .main_info p, .pp_info p {
      min-width: auto;
      font-size: 16px;
      text-align: center;
    }
  
    .main_info div, .pp_info {
      flex-direction: column;
      gap: 16px;
    }
  
    #yuta, .pp {
      width: 250px;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    h1 {
      font-size: 40px;
    }
  
  }
  
  @media (max-width: 500px) {
    
    .navigation {
      gap: 12px;
    }
  
    .navigation_link {
      font-size: 12px;
    }
  
    .main_info p, .pp_info p {
      font-size: 14px;
    }
  
    h1 {
      font-size: 32px;
    }
  
  }
  